/* app.sass */
@media only screen  and (min-width : 769px) {

  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }

  header {
    padding-top: 6px;
    height: 60px;  
    background-color: transparent;
    .contents {    
      position: relative;
      line-height: 60px;
      .tmi{
        width: initial;
        height: initial;
        margin-left: 42px;
      }
      .menu-center{
        position: absolute;
        top: 0px;
        left: 50%;
        font-size: 16px;
        transform: translate(-50%, 0%);
        ul{
          display: flex;
          li{
            margin-left: 70px;
            font-weight: 400;
            cursor: pointer;
            &:first-child{
              margin-left: 0px;
            }
            &.active{
              font-weight: bold;
            }
            &.disable{
              color: $color-coolgray;
            }
            &:hover{
              font-weight: bold;
            }
          }
        }
        .underbar{
          position: absolute;
          top: 42px;
          left: 0px;
          display: inline-block;
          width: 30px;
          height: 2px;
          background-color: $color-black;
          transition: left .3s ease-in;
          &.rank{
            left: calc(30px + 70px);
          }
          &.kart{
            left: calc(30px + 70px + 30px + 70px);
          }
          &.track{
            left: calc(30px + 70px + 30px + 70px + 30px + 70px);
          }
        }
      }
      .menu-right {
        line-height: 30px;
        right: 42px;
        .homepage{
          display: inline-block;
          height: 30px;
          span{
            margin-right: 5px;
            font-family: Rajdhani;
            font-size: 16px;
            font-weight: 500;
            color: #000;
            vertical-align: middle;
          }
          .arrow{
            position: relative;
            display: inline-block;
            width: 14px;
            height: 14px;
            background-color: #25bafe;
            border-radius: 7px;
            vertical-align: middle;
            img{
              position: absolute;
              top: 3px;
              left: 3px;
            }
          }
        }
      }
    }
  }

  main {
    .bg-left-top{ 
      top: -66px;
      left: 0px;
      width: 601px;
      height: 332px;
      background-position: 601px 332px;
    }
    .bg-right-top{
      top: -86px;
      right: 0px;
      width: 298px;
      height: 308px;
      background-position: 298px 308px;
    }
    .bg-left-bottom{ 
      bottom: -64px;
      left: 0px;
      width: 288px;
      height: 146px;
    }
    .bg-right-bottom{ 
      position: absolute;
      display: inline-block;
      bottom: -64px;
      right: 0px;
      width: 818px;
      height: 302px;
      background-image: url(/img/bg-bottom-right-01.png);
      z-index: 1;
      animation: brightmove 5s ease-in infinite;
      @keyframes brightmove {
          0% {
            right: 0px;
          }
          30% {
            right: -20px;
          }
          50% {
            right: -30px;
          }
          75% {
            right: -35px;
          }
          100% {
            right: 0px;
          }
      }
    }
    .bg-point{ 
      bottom: 30%;
      left: 25%;
    }
    .bg{
      padding-top: calc(171px - 60px);
      margin-bottom: 150px;
      img{
        max-width: 700px;
      }
    }
    section {
      padding: 0px;
      padding-top: calc(336px - 60px);
      padding-bottom: 500px;
      .search{
        .txt {
          font-size: 24px;
        }
        .visual {
          max-width: 760px;
          margin-top: 20px;
          img{
            width: 335px;
            height: auto;
          }
        }
        .subtitle{
          font-family: Rajdhani;
          font-size: 21px;
          font-weight: 300;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: 2.2px;
          text-align: center;
          color: #3284a5;
        }
        &.active{
          .txt{
            position: relative;
            width: initial;
            top: initial;
            left: initial;
            z-index: initial;
          }
          .visual{
            display: none;
          }
          .subtitle{
            display: none;
          }
          .searchbar{
            position: static;
            margin: 0 auto;
            margin-top: 42px;
            padding-top: 0px;
            max-width: 760px;
            height: 90px;
            border-radius: 10px 10px 0px 0px;
            box-sizing: border-box;
            box-shadow: 8px 8px 15px 5px rgba(48, 191, 239, 0.26);
            .dao{
              display: none;
            }
            form{
              border-radius: 10px 10px 0px 0px;
            }
            .current{
              border-radius: 0px 0px 10px 10px;
              box-shadow: 8px 8px 15px 5px rgba(48, 191, 239, 0.26);
              ul{
                li{
                  img{
                    position: absolute;
                    top: 16px;
                    right: 20px;
                    width: 14px;
                    height: 14px;
                    cursor: pointer;
                  }
                }
              }

            }
          }
          .cover{
            display: none;
          }
        }
        .searchbar {
          margin-top: 42px;
          max-width: 760px;
          height:90px;
          form {
            padding: 31px;
            .contents{
              height: 27px;
              .select {
                label {   
                  height: 27px;
                  line-height: 27px;
                  width: 51px;
                  font-size: 18px;    
                }
                select {
                  height: 27px;
                  line-height: 27px;
                  width: 51px;
                  font-size: 18px;
                }
              }
              input {
                height: 27px;
                line-height: 27px;
                padding-left: 32px;
                font-size: 18px;
              }
              .btn {
                height: 27px;
                font-size: 18px;
                img{
                  width: 22px;
                }
              }
              .dao{
                position: relative;
                width: 380px;
                img{
                  position: absolute;
                  top: -240px;
                  left: 0px;
                }
              }
            }
          }
        }
      }
    }  
  }

  footer {
    .wrapper{
      display: flex;
      padding: 0px 42px 34px 42px;
      .logos{
        width: 180px;
      }
      .policy{
        flex: 1;
        margin-top: 0px
      }
      .copy{
        flex: 1;
        margin-top: 0px;
        text-align: right;
      }
    }
  }

}

