/* app.sass */
@media only screen  and (min-width : 769px) {

  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }

  header {
    padding-top: 6px;
    min-width: 375px;
    height: 60px;  
    background-color: transparent;
    .contents {    
      position: relative;
      line-height: 60px;
      .menu-center{
        position: absolute;
        top: 0px;
        left: 50%;
        font-size: 16px;
        transform: translate(-50%, 0%);
        ul{
          display: flex;
          li{
            margin-left: 70px;
            font-weight: 400;
            cursor: pointer;
            &:first-child{
              margin-left: 0px;
            }
            &.active{
              font-weight: bold;
            }
            &:hover{
              font-weight: bold;
            }
          }
        }
        .underbar{
          position: absolute;
          top: 42px;
          left: 0px;
          display: inline-block;
          width: 30px;
          height: 2px;
          background-color: $color-black;
          transition: left .3s ease-in;
          &.rank{
            left: calc(30px + 70px);
          }
          &.kart{
            left: calc(30px + 70px + 30px + 70px);
          }
          &.track{
            left: calc(30px + 70px + 30px + 70px + 30px + 70px);
          }
        }
      }
      .menu-right {
        position: absolute;
        top: 0px;
        right: 0px;
      }
    }
  }

  main {
    .bg{
      padding-top: calc(171px - 60px);
      margin-bottom: 150px;
      img{
        max-width: 700px;
      }
    }
    section {
      padding: 0px;
      padding-top: calc(336px - 60px);
      padding-bottom: 500px;
      .search{
        .txt {
          font-size: 24px;
        }
        .visual {
          max-width: 760px;
          margin-top: 20px;
          img{
            width: 375px;
            height: 123px;
          }
        }
        &.active{
          .txt{
            position: relative;
            width: initial;
            top: initial;
            left: initial;
            z-index: initial;
          }
          .visual{
            display: none;
          }
          .subtitle{
            display: none;
          }
        }
        .searchbar {
          margin-top: 42px;
          max-width: 760px;
          height:90px;
          &.active{
            position: static;
            margin: 0 auto;
            margin-top: 42px;
            padding-top: 0px;
            max-width: 760px;
            height: 90px;
            border-radius: 10px 10px 0px 0px;
            box-sizing: border-box;
            box-shadow: 8px 8px 15px 5px rgba(48, 191, 239, 0.26);
            .dao{
              display: none;
            }
            .current{
              border-radius: 0px 0px 10px 10px;
              box-shadow: 8px 8px 15px 5px rgba(48, 191, 239, 0.26);
            }
          }
          form {
            padding: 31px 31px;
            .contents{
              .select {
                label {   
                  width: 51px;       
                }
                select {
                  width: 51px;  
                }
              }
              input {
                padding-left: 32px;
              }
              .btn {
              }
              .dao{
                position: relative;
                width: 380px;
                img{
                  position: absolute;
                  top: -240px;
                  left: 0px;
                }
              }
            }
          }
        }
      }
    }  
  }

  footer {
    .wrapper{
      display: flex;
      padding: 0px 42px 34px 42px;
      .logos{
        width: 180px;
      }
      .policy{
        flex: 1;
        margin-top: 0px
      }
      .copy{
        flex: 1;
        margin-top: 0px;
        text-align: right;
      }
    }
  }

}

