/* app.sass */
@import '../common/_reset';
@import '../common/_fonts';

@import '../sprite/css/svg';

$color-backgroundgray : #f7f7f7;
$color-black : #000;
$color-darkgray : #666666;
$color-coolgray : #999999;
$color-lightgray : #f6f6f6;
$color-skyblue: #23b9ff;
$color-yellow: #ffc95e;
$color-pink: #fd446e;

html, body {
  width: 100%;
  height: 100%;
  background-color: #fff;
  font-family: "Noto Sans KR";
  font-size: 10px;
  font-weight: 500;
}

.mobile {
  display: block;
}

.desktop {
  display: none;
}

header {
  min-width: 375px;
  height: 60px;  
  background-color: #fff;
  .contents {    
    position: relative;
    line-height: 60px;
    .menu-right {
      position: absolute;
      top: 0px;
      right: 0px;
    }
  }
}

main {
  position: relative;
  .bg{
    position: absolute;
    display: block;
    width: 100%;
    padding-top: calc(160px - 60px);
    text-align: center;
    img{
      width: 100%;
      animation: spin 5s ease-in-out infinite;
      @keyframes spin {
          0% {
            transform: rotate(0deg);
          }
          20% {
            transform: rotate(20deg);
          }
          50% {
            transform: rotate(30deg);
          }
          75% {
            transform: rotate(-20deg);
          }
          85% {
            transform: rotate(110deg);
          }
          90% {
            transform: rotate(90deg);
          }
          100% {
            transform: rotate(10deg);
          }
      }
    }
  }
  section {
    position: relative;
    padding: 0px 27px;
    padding-top: calc(257px - 60px);
    padding-bottom: 300px;
    transition: all .3s ease-in;
    text-align: center;
    .search{
      .txt {
        position: relative;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        .helloworld {
          position: relative;
          display: inline-block;
          z-index: 1;
          &::after{
            content: "";
            position: absolute;
            left: 0px;
            bottom: 0px;
            display: inline-block;
            width: 100%;
            height: 8px;
            background-color: #23b9ff;
            z-index: -1;
          }
        }
      }
      .visual {
        margin: 0 auto;
        margin-top: 7px;
        img{
          width: 210px;
          height: 70px;
        }
      }
      .subtitle{
        div{
          display: inline-block;
          width: 200px;
          height: 10px;
        }
      }
      &.active{
        .txt{
          position: fixed;
          width: 100%;
          top: 36px;
          left: 0px;
          z-index: 1;
        }
      }
      .searchbar {
        margin: 0 auto;
        margin-top: 28px;
        max-width: 100%;
        height: 70px;
        border-radius: 10px;
        box-sizing: border-box;
        box-shadow: 8px 8px 15px 5px rgba(48, 191, 239, 0.26);
        background-color: #fff;
        color: #000;
        transition: all .3s ease-in;
        &.active{
          position: fixed;
          top: 0px;
          left: 0px;
          width: 100%;
          max-width: 100%;
          margin-top: 0px;
          padding-top: 85px;
          border-radius: 0px;
          box-shadow: none;
          .dao{
            display: none;
          }
          .current{
            display: block;
            padding-left: 20px;
            text-align: left;
            border-top: 1px solid #ddd;
            background-color: #fff;
            .desc{
              font-size: 12px;
              color: #bbb;
              height: 62px;
              line-height: 62px;
            }
            ul{
              li{
                height: 50px;
                line-height: 50px;
                font-size: 14px;
                font-weight: 300;
                color: $color-darkgray;
                &:last-child{
                  margin-bottom: 100px;
                }
              }
            }
          }
        }
        form {
          padding: 23px 20px;
          .contents{
            display: flex;
            height: 27px;
            .select {
              position: relative;
              -webkit-transition: opacity 0.5s; /* Safari */
              transition: opacity 0.5s;
              @mixin selectstyle {
                width: 47px;
                height: 27px;
                line-height: 27px;
                font-weight: 400;
                font-size: 16px; 
              }
              label {          
                @include selectstyle;  
                display: block;
                box-sizing: border-box;
                color: #000;
                background: transparent;
                text-align: left;                   
                &:before {
                    content: "";
                    position: absolute;
                    top: 12px;
                    right: 0px;
                    width: 0;
                    height: 0;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-top: 5px solid #000;
                }
              }
              select {
                @include selectstyle;
                position: absolute;
                top: 0px;
                left: 0px;
                border: 0;
                opacity: 0;  /* 숨기기 */
                filter:alpha(opacity=0);  /* IE8 숨기기 */
                -webkit-appearance: none; /* 네이티브 외형 감추기 */
                -moz-appearance: none;
                appearance: none;
              }
            }
            input {
                width: 100%;
                height: 27px;
                line-height: 27px;
                padding-left: 18px;
                outline: 0;
                border: 0;                        
                display: block;
                font-size: 16px;
                font-weight: 400;
                color: #000;
                background: transparent;
            }
            .btn {
                height: 27px;
                line-height: 27px;
                font-size: 16px;
                font-weight: 400;
                color: #000;
                background-color: transparent;
                border: none;
                outline: 0;
            }
          }
        }
        .current{
          display: none;
        }
      }
    }
  }  
}

footer {
  .wrapper {
    padding: 0px 20px 17px 20px;
    text-align: left;
    .logos{
      height: 20px;
      line-height: 20px;
      .nexon {
        width: 63px;
        vertical-align: middle;
      }
      i{
        margin-left: 5px;
        margin-right: 5px;
        font-size: 10px;
        vertical-align: middle;
      }
      .labs{     
        width: 74px;
        object-fit: contain;
        vertical-align: middle;
      }
    }
    .policy{
      margin-top: 10px;
      font-size: 11px;
      color: $color-darkgray;
    }
    .copy{
      margin-top: 4px;
      font-size: 11px;
      color: #bbb;
    }
  }
}

@import './pc';