%svg-common {
	background: url("/svg/sprite.css-7b813607.svg") no-repeat;
}

.svg-icon-important-ver-2-14 {
	@extend %svg-common;
	background-position: 58.8235294117647% 58.8235294117647%;
}

.svg-icon-important-ver-2-14-dims {
	width: 18px;
	height: 18px;
}

.svg-icon-share-14 {
	@extend %svg-common;
	background-position: 76.47058823529412% 58.8235294117647%;
}

.svg-icon-share-14-dims {
	width: 18px;
	height: 18px;
}

.svg-icon-tmi-checkflag-01 {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-icon-tmi-checkflag-01-dims {
	width: 60px;
	height: 60px;
}

.svg-icon-tmi-sademotion-01 {
	@extend %svg-common;
	background-position: 100% 0;
}

.svg-icon-tmi-sademotion-01-dims {
	width: 60px;
	height: 60px;
}

.svg-icon-tmi-trophy-01 {
	@extend %svg-common;
	background-position: 0 100%;
}

.svg-icon-tmi-trophy-01-dims {
	width: 60px;
	height: 60px;
}

.svg-icon-view-14 {
	@extend %svg-common;
	background-position: 94.11764705882354% 58.8235294117647%;
}

.svg-icon-view-14-dims {
	width: 18px;
	height: 18px;
}

