<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=yes" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GULP 4.0 - EJS, SASS, IMAGE SPRITE</title>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <link rel="stylesheet" href="./css/main/main.css">
    <link rel="stylesheet" href="./css/sprite.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script>
        var percentageComplete = 0.7;
        var strokeDashOffsetValue = 100 - (percentageComplete * 100);
        var progressBar = $(".js-progress-bar");
        progressBar.css("stroke-dashoffset", strokeDashOffsetValue);
    </script>
    <style>
        .svg-icon {
            display: inline-block;
        }
    </style>
</head>

<body>
    <header>
        <div class="contents">
            <svg class="tmi" xmlns="http://www.w3.org/2000/svg" width="73" height="28" viewBox="0 0 73 28">
                <path fill-rule="evenodd" d="M66.5 0C70.09 0 73 2.91 73 6.5V28h-6V6.5c0-.276-.224-.5-.5-.5-.245 0-.45.177-.492.41L66 6.5V28h-6V6.5C60 2.91 62.91 0 66.5 0zm-15 0c3.512 0 6.373 2.785 6.496 6.267L58 6.5V28h-6V6.5l-.008-.09C51.95 6.177 51.745 6 51.5 6s-.45.177-.492.41L51 6.5v15c0 3.59-2.91 6.5-6.5 6.5S38 25.09 38 21.5v-15c0-.276-.224-.5-.5-.5-.245 0-.45.177-.492.41L37 6.5V28h-6V6.5C31 2.91 33.91 0 37.5 0S44 2.91 44 6.5v15c0 .276.224.5.5.5.245 0 .45-.177.492-.41L45 21.5v-15C45 2.91 47.91 0 51.5 0zM21 0c6.5 0 8 4 8 6.5S27.5 13 21 13v15h-6V8c0-.667.333-1 1-1h6.5c.333 0 .5-.167.5-.5 0-.333-.167-.5-.5-.5h-16c-.333 0-.5.167-.5.5 0 .333.167.5.5.5H13c.667 0 1 .333 1 1v20H8V13c-6.5 0-8-4-8-6.5S1.5 0 8 0h13z"/>
            </svg>
            <div class="menu-center desktop">
                <ul>
                    <li class="active">
                        검색
                    </li>
                    <li>
                        랭킹
                    </li>
                    <li>
                        카트
                    </li>
                    <li>
                        트랙
                    </li>
                </ul>
                <div class="underbar">
                </div>
            </div>
            <div class="menu-right">
                <img src="img/btn-magnifier-ver-2-22.png" srcset="img/btn-magnifier-ver-2-22@2x.png 2x,
                img/btn-magnifier-ver-2-22@3x.png 3x" class="Btn_Magnifier_ver2_22">
            </div>
        </div>
    </header>

    <main>
        
        <div class="bg-left-top">            
        </div>
        <div class="bg-right-top">            
        </div>
        <div class="bg-left-bottom">            
        </div>
        <div class="bg-right-bottom">            
        </div>
        <div class="bg-point">            
        </div>
        <div class="bg-dao mobile">
        </div>

        <div class="bg">
            <img src="/img/search-bg.png"
            srcset="/img/search-bg@2x.png 2x,
                    /img/search-bg@3x.png 3x"
            class="#Search-bg">
        </div>

        <section>

            <div class="search">
                
                <div class="txt">
                    <div class="helloworld">
                        전적검색
                    </div>
                </div>

                <div class="visual">
                    <img src="/img/bitmap-copy.png"
                    srcset="/img/bitmap-copy@2x.png 2x,
                            /img/bitmap-copy@3x.png 3x"
                    class="Bitmap-Copy">               
                </div>

                <div class="subtitle">
                    <div></div>
                </div>

                <div class="searchbar">
                    <form onsubmit="return false;">
                        <div class="contents">
                            <div class="select">
                                <label for="selectCategory">유저</label>
                                <select id="selectCategory">
                                    <option value="유저">유저</option>
                                    <option value="카트">카트</option>
                                    <option value="트랙">트랙</option>
                                </select>
                            </div>
                            <input type="search" placeholder="유저 닉네임을 입력해주세요.">
                            <button class="btn">
                                <img src="img/btn-magnifier-ver-2-22.png" srcset="img/btn-magnifier-ver-2-22@2x.png 2x,
                                img/btn-magnifier-ver-2-22@3x.png 3x" class="Btn_Magnifier_ver2_22">
                            </button>
                            <div class="dao desktop">
                                <img src="/img/rolling-charactor.png"
                                srcset="/img/rolling-charactor@2x.png 2x,
                                        /img/rolling-charactor@3x.png 3x"
                                class="#Rolling_charactor">
                            </div>
                        </div>
                    </form>
                    <div class="current">
                        <div class="desc">
                            최근 검색어
                        </div>
                        <ul>
                            <li>
                                셀럽지민
                            </li>
                            <li>
                                셀럽지민
                            </li>
                            <li>
                                셀럽지민
                            </li>
                            <li>
                                셀럽지민
                            </li>
                        </ul>
                    </div>
                </div>

            </div>


        </section>

    </main>

    <footer>
        <div class="wrapper">
            <div class="logos">
                <img src="/img/icon-bi-nexon-24.png" srcset="/img/icon-bi-nexon-24@2x.png 2x, /img/icon-bi-nexon-24@3x.png 3x" class="nexon">
                <i class="fas fa-times"></i>
                <img src="/img/icon-bi-intelligencelabs-24.png" srcset="/img/icon-bi-intelligencelabs-24@2x.png 2x, /img/icon-bi-intelligencelabs-24@3x.png 3x" class="labs">
            </div>
            <div class="policy">
                개인정보취급방침
            </div>
            <div class="copy">
                2020 NEXON Korea Corporation All Rights Reserved.
            </div>
        </div>
    </footer>

</body>

</html>